doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        <script data-cfasync="false" src="/javascripts/dropit.js"></script>

    body
        #common-header
            #div-logo
                section#logo
                  a(href="/").Prime
                     img.logo(src="../images/we.png")
            #navbar
                ul#navmenu
                    li
                        a(href="/home") Home
                    li
                        a(href="/sport/1") Badminton
                    li
                        a(href="/sport/2") Table Tennis
                    li
                        a(href="/sport/3") Carroms
                    li
                        a(href="/sport/4") Chess
                    li
                        a(href="/sport/5") Snooker
                    li
                        a(href="/sport/6") Cycling
                    li
                        a(href="/sport/7") Tennikoit
                    li
                        a(href="/sport/8") Swimming
                    li
                        a(href="/sport/9") Skating
                    li
                        a(href="/sport/10") Running
                    li
                        a(href="/sport/11") Lemon & Spoon Race
                    li
                        a(href="/sport/12") Sack Race
                ul#navmenu-2.navmenu-2
                    li
                        a(href="/registrations") All Game Registrations


        #content-placeholder
            block content

        #common-footer