doctype html
html
    head
        title= title


    body

        #content-placeholder
            block content

        #common-footer

        #footer-placeholder-id.footer-placeholder
            p
                | Address: Hyderbad    | Telangana    | India    |
                

    