extends layout

block content
    h1= title

    - each event in regData
      span#person-details.person-details
        |Name:  
        = event.first_name
        br
        |Group: 
        = event.age
        br
        |Flat:
        = event.block +'  '
        = event.flat
        br
        |Gender: 
        = event.gender
        br