extends layout

block content
    h1= title
    h2= regData.length
    - each event in regData
        a(href= '/person/'+event.person_id)= event.first_name +' '
        |  -  
        = event.sports
        br